body
{
    font-family: Arial, Helvetica, sans-serif;
}

li
{
    list-style-type: none;
    padding: 10px;
}

nav a, nav a:visited
{
    color: black;
    text-decoration-line: none;
}

nav a:hover
{
    color: rgb(21, 54, 161);
}

p, h1
{
    text-align: center;
}

header
{
    display: flex;
    justify-content: space-around;
}

nav
{
    width: 80%;
    border-bottom: solid;
}

section
{
    width: 40%;
    margin: 25px;
    border-radius: 25px;
}

section[value="wip"]
{
    background-color: rgba(255, 204, 157, 0.719);
}

section[value="done"]
{
    background-color: rgba(204, 240, 204, 0.719);
}

section[value="todo"]
{
    background-color: rgba(255, 179, 174, 0.719);
}

main
{
    width: 100%;
    display: flex;
}


#col1 section, #col2 section
{
    width: 70%;
}

td i
{
    color: green;
    text-align: center;
}

table
{
    width: 100%;
}

h2
{
    display: inline-block;
    margin-top: 5px;
    margin-bottom: 0px;
}

table td
{
    padding: 5px;
}

table td:nth-child(n+2)
{
    text-align: center;
}

h3
{
    text-align: center;
    margin-top: 0px;
}

.title
{
    display: table;
    margin: 0px auto;
    font-weight: bold;
}

#spin-icon
{
    color: black;
}

/** Footer **/

#footer
{
    bottom: 0px;
    display: flex;
    justify-content: center;
    width: 100%;
}

#github
{
    color: black;
    background-color: white;
    border-radius: 50%;
}

#linkedin
{
    color: #0072b1;
}

footer i, footer span
{
    font-size: 35px;
    margin-left: 10px;
}

/** Mobile/tablet start**/
@media screen and (max-width:1464px)
{

#intro
{
    display: none;
}

    #menu
{
    display: flex;
    width: 100%;
    flex-wrap: wrap;
    padding-left: 0px;
}

#menu a
{
    padding: 5px;
}

#topmenu, #botmenu
{
    width: 50%;
    text-align: center;
    padding-top: 10px;
}

#topmenu li, #botmenu li
{
    padding-top: 20px;
}

#home
{
    min-width: 100%;
    text-align: center;
}
    
    main
    {
        flex-direction: column;
        align-items: center;
    }
    
    #col1, #col2
    {
        display: flex;
        width: 100%;
        flex-direction: column;
        align-items: center;
    }

    nav a, nav a:visited
{
    font-size: x-large;
}

.resp
{
    display: none;
}

h2, .title
{
    font-size: large;
}

h3
{
    font-size: medium;
}

}

/** Mobile/tablet end**/

/** Desktop-only start **/

@media screen and (min-width:1465px)
{

    #menu
{
    display: flex;
    height: 60px;
    justify-content: center;
}

#intro p
{
    width: 80%;
    text-align: center;
}

.pc
{
    display: none;
}

#topmenu, #botmenu
{
    display: flex;
}

section
{
    min-height: 300px;
}

    #col1, #col2
{
    display: flex;
    align-items: center;
}

nav a, nav a:visited
{
    font-size: xx-large;
}

#footer
{
    position: fixed;
}

h2
{
    font-size: xx-large;
}

.title
{
    font-size: xx-large;
}

#footer
{
    background-color: rgba(240, 237, 237, 0.959);
}

}

/** Desktop-only end **/

#w3c_ok
{
    text-align: center;
}