/* #region CSS communs à plusieurs éléments sur la page */


html {
  box-sizing: border-box;
}

*,
*::before,
*::after {
  box-sizing: inherit;
}

body {
  background-color: white;
  font-family: 'Raleway', sans-serif;
}

li {
  list-style: none;
}

#fa_circle, .stars_fontsize, #tri i:nth-child(1) {
  color: #0065FC;
}

.g_star {
  color: rgb(224, 224, 224);
}

input[type=submit], #filters span, input[type="text"] {
  font-size: 21px;
}

.bold {
  font-weight: bold;
}

br {
  margin-top: 15px;
}

#nav_top, nav ul, form, label, #filters, #filters_t, #tri, #eco, #family, #love, #pets {
  display: flex;
}

.flex_col {
  display: flex;
  flex-direction: column;
}

h1 {
  font-size: 25px;
  margin-bottom: 0px;
}

.img_roundtop {
  border-top-right-radius: 25px;
  border-top-left-radius: 25px;
}

.img_roundleft {
  border-top-left-radius: 25px;
  border-bottom-left-radius: 25px;
}

/* #endregion Commun - End */

/* #region PC breakpoint */
@media screen and (min-width:992px) {

  header, main {
    margin-left: 1.5%;
    margin-right: 1.5%;
    margin-bottom: 1.5%;
  }

  p {
    font-size: 16px;
  }

  nav li:hover {
    border-top: #0065FC solid 2px;
    color: #0065FC;
  }

  nav {
    display: flex;
    height: 100px;
  }

  nav ul {
    margin: 0;
  }


  nav li {
    width: 200px;
    padding-top: 50px;
  }

  input[type="text"] {
    border: #F2F2F2 solid 1px;
    padding-left: 10px;
    width: 280px;
  }

  input[type=submit] {
    width: 160px;
  }

  #search {
    display: none;
  }

  #tri {
    justify-content: space-between;
    width: 992px;
    margin: 0;
  }

  #tri span {
    padding-left: 25px;
    padding-right: 25px;
  }

  #tri span:hover {
    background-color: #deebff;
  }

  .filtres {
    width: auto;
    max-width: 250px;
  }

  #filters_t {
    font-size: 22px;
    width: 100px;
  }

  #footer_mid {
    margin-left: 15%;
    margin-right: 20%;
  }

  footer li {
    margin-top: 5%;
    margin-bottom: 5%;
  }

  .card {
    width: 30%;
  }

  .cardb {
    margin-bottom: 8%;
    padding: 5px;
  }

  .cardb img {
    height: 190px;
    width: 30%;
    min-width: 140px;
    min-height: 140px;
    object-fit: cover;
  }

  #host, #best_host {
    background-color: #F2F2F2;
    border-radius: 25px;
  }

  #host {
    flex-grow: 4;
  }

  #best_host {
    flex-grow: 1;
  }

  #host {
    margin-right: 2.5%;
  }

  .cards_margin p, .cards_margin h3 {
    margin-top: 2%;
    margin-bottom: 1.5%;
    margin-left: 3%;
  }

  .places {
    margin-bottom: 3%;
  }

  .star {
    margin-left: 3%;
  }

  .card img {
    height: 200px;
    width: 100%;
    object-fit: cover;
  }

  #host, #best_host {
    padding-left: 2%;
    padding-right: 2%;
  }

  /* #region Activités desktop */

  #pomegues {
    height: 230px;
  }

  #frioul {
    height: 150px;
  }

  #garde {
    height: 170px
  }

  #longchamp {
    height: 190px;
  }

  .shared {
    justify-content: space-between;
  }

  .act_card1 img, .act_card3 img {
    height: 480px;
  }

  .act_card1 h3, .act_card3 h3
  {
    height: 30px;
  }

  .subact {
    width: 24%;
  }

  /* #endregion Activités desktop */


}

/* #endregion Desktop - End*/

/* #region Tablet & phone common */
@media screen and (max-width:991px) {

  #nav_top {
    flex-direction: column;
  }

  nav {
    width: 100%;
    margin-left: 0;
    margin-right: 0;
    margin-top: 20px;
  }

  nav ul {
    padding: 0px;
  }

  nav li:nth-child(1) {
    border-bottom: #0065FC solid;
  }

  nav li:nth-child(2) {
    border-bottom: #F2F2F2 solid;
    margin-right: 0px;
  }

  nav li {
    height: 35px;
    width: 50%;
  }

  #pcsearch {
    display: none;
  }

  input[type="text"] {
    width: 60%;
    border-left: #F2F2F2 solid 1px;
    border-top: #F2F2F2 solid 1px;
    border-bottom: #F2F2F2 solid 1px;
    border-right: none;
    font-size: 22px;
    padding-left: 10px;
  }

  form {
    position: relative;
    min-width: 375px;
    max-width: 500px;
  }

  input[type=submit] {
    position: absolute;
    left: -18px;
    width: 50px;
    height: 50px;
    border-top-left-radius: 20px;
    border-bottom-left-radius: 20px;
    right: 50px;
  }

  #search {
    position: relative;
  }

  #search i {
    color: white;
    right: -14px;
    top: 15px;
    position: absolute;
    font-size: 15px;
  }

  #filters {
    flex-direction: column;
  }

  #tri {
    padding-left: 32px;
    /** Compense left -32px sur #tri i en alignant avec "Filtres" **/
    flex-wrap: wrap;
  }

  #tri span {
    margin-left: 0;
    margin-top: 0;
    margin-bottom: 10px;
  }

  #filters_t {
    margin-top: 20px;
    margin-bottom: 0;
  }

  #eco, #family, #love {
    margin-right: 43px;
  }

  #marseille_top {
    flex-direction: column;
  }

  #best_host {
    order: 1;
    background-color: #F2F2F2;
  }

  .places {
    flex-direction: column;
  }

  #host {
    order: 2;
  }

  footer {
    flex-direction: column;
  }

  footer h3 {
    padding-bottom: 10px;
  }


  footer ul {
    margin-top: 0;
    margin-bottom: 0;
  }

  .cards_margin h3 {
    margin-top: 10px;
    margin-bottom: 10px;
  }

  .cards_margin p {
    margin-top: 0;
    margin-bottom: 5px;
  }

  .stars_fontsize, .g_star {
    font-size: 13px;
  }

  #activities {
    flex-direction: column;
  }

  .subact {
    width: 100%;
  }

  .subact img {
    height: 150px;
  }


}

/* #endregion Tablet & Phone - End*/

/* #region Tablet breakpoint */
@media screen and (min-width:768px) and (max-width:991px) {

  div:not(#nav_top, #marseille_top, #search, .star, .placesb, .places, .cards_margin, #marseille_bot, .subact, #host, #best_host) {
    margin-left: 30px;
    margin-right: 30px
  }

  #tri span {
    padding-left: 30px;
    padding-right: 30px;
  }

  .cardb img {
    height: 190px;
    width: 30%;
    min-width: 140px;
    min-height: 140px;
    object-fit: cover;
    padding-left: 5px;
    padding-top: 5px;
    padding-bottom: 5px;
  }

  .cards_margin, #host .star {
    margin-left: 15px;
  }

  .card img {
    height: 150px;
    object-fit: cover;
  }

  #info_icon {
    margin-left: 30px;
  }

  .card, .cardb, .subact a {
    margin-bottom: 5%;
  }

  #activites {
    margin-left: 30px;
  }

  footer li {
    margin-top: 2%;
    margin-bottom: 2%;
  }

}

/* #endregion Tablet end */

/* #region Phone breakpoint */
@media screen and (max-width:767px) {

  div:not(#nav_top, #marseille_top, #search, .star, .placesb, .places, .cards_margin, #marseille_bot, .subact, #host, #best_host) {
    margin-left: 10px;
    margin-right: 10px;
    padding-left: 10px;
    padding-right: 10px;
  }

  p {
    font-size: 16px;
  }

  #tri span {
    padding-left: 19px;
    padding-right: 10px;
  }

  #tri {
    min-width: 375px;
  }

  .cardb img {
    height: 150px;
    width: 30%;
    min-width: 140px;
    min-height: 140px;
    object-fit: cover;
    padding-left: 1.2%;
    padding-top: 1%;
    padding-bottom: 1%;
  }

  .cards_margin, #host .star {
    margin-left: 10px;
  }

  .card img {
    height: 100px;
    object-fit: cover;
  }

  #activites {
    margin-left: 15px;
  }

  #section_activites {
    margin-bottom: 5%;
  }

  #info_icon {
    margin-left: 20px;
  }

  .card, .cardb, .subact a {
    margin-bottom: 10%;
  }

  footer li {
    margin-top: 5%;
    margin-bottom: 5%;
  }

}

/* #endregion Phone breakpoint end */

/* #region Common */
/* #region Header */

nav ul {
  text-align: center;
}

nav li:nth-child(1) {
  color: #0065FC;
}

a:link, a:visited, a:active {
  text-decoration: none;
  color: inherit
}

#nav_top {
  align-items: center;
  justify-content: space-between;
}

#nav_top img {
  max-width: 120px;
}

form {
  height: 50px;
}

label {
  width: 60px;
  align-items: center;
  justify-content: center;
  background-color: #F2F2F2;
  border-top-left-radius: 20px;
  border-bottom-left-radius: 20px;
}

input[type=submit] {
  color: white;
  background-color: #0065FC;
  border: none;
  border-top-right-radius: 20px;
  border-bottom-right-radius: 20px;
}

#tri {
  align-items: center;
}

#tri i {
  left: -32px;
  position: absolute;
  border-radius: 50%;
  background-color: #deebff;
  width: 50px;
  height: 50px;
  text-align: center;
  padding-top: 15px;
}

#tri li {
  position: relative;
}

#tri span {
  font-size: 20px;
  border-top-right-radius: 20px;
  border-bottom-right-radius: 20px;
  padding-top: 12px;
  padding-bottom: 12px;
  border-top: #F2F2F2 solid 2px;
  border-right: #F2F2F2 solid 2px;
  border-bottom: #F2F2F2 solid 2px;
}

#fa_circle {

  border: 1px solid grey;
  margin-right: 10px;
  border-radius: 50%;
  width: 30px;
  height: 30px;
  padding: 10px;
  text-align: center;
}

#info_icon {
  display: flex;
  align-items: center;
}

/* #endregion */

/* #region Main */

main {
  display: flex;
  flex-direction: column;
}

#marseille_top {
  display: flex;
  width: 100%;
}

#host, #best_host {
  display: flex;
  flex-direction: column;
}

.card {
  display: flex;
  flex-direction: column;
  background-color: white;
  border: solid white 8px;
  border-radius: 30px;
  box-shadow: 0px 3px 5px 0px #dddddd;
  justify-content: space-between;
  height: fit-content;
}

.cards_margin {
  position: relative;
}

.width_popular {
  width: 70%;
}

.lcards_height {
  height: 50%;
}

#afficher_plus {
  margin-bottom: 20px;
}

.places {
  display: flex;
  justify-content: space-between;
}

#best_host h2 {
  position: relative;
}

#best_chart {
  position: absolute;
  right: 10px;
}

.cardb {
  display: flex;
  background-color: white;
  border: solid white 3px;
  border-radius: 30px;
  box-shadow: 0px 3px 5px 0px #dddddd;
}

.bot_position {
  position: absolute;
  bottom: 10px;
}

/* #endregion */

#marseille_bot {
  display: flex;
  flex-direction: column;
  margin-top: 2%;
  margin-bottom: 2%;
}

#activities {
  display: flex;
  justify-content: space-between;
}

.subact {
  display: flex;
  flex-direction: column;
}

.subact img {
  width: 100%;
  object-fit: cover;
}



.activity_cards {
  border-radius: 30px;
  box-shadow: 0px 3px 5px 0px #dddddd;
}

#marseille_bot h3 {
  margin-left: 3%;
}

/* #region Footer */

footer {
  display: flex;
  background-color: #F2F2F2;
}

/* #endregion */

/* #endregion*/