/** CSS communs à plusieurs éléments sur la page **/


html {  box-sizing: border-box; }

*,
*::before,
*::after {  box-sizing: inherit; }

body
{
  background-color: white;
  font-family: 'Raleway', sans-serif;
}

li
{
  list-style: none;
}

#fa_circle, main, #tri i:nth-child(1)
{
  color: #0065FC;
}

input[type=submit], #filters span, input[type="text"]

{
  font-weight: bold;
  font-size: larger;
}

br
{
  margin-top: 15px;
}

.flex_default
{
  display: flex;
}

.flex_col
{
  display: flex;
  flex-direction: column;
}

h1
{
  font-size: 25px;
  margin-bottom: 0px;
}

/** Commun - End **/

/** PC breakpoint **/
@media screen and (min-width:992px)
{

  body
  {
    margin: 35px;
  }

  p
{
  font-size: 19px;
}

  nav li:hover
  {
  color: #0065FC;
  box-shadow: 0px -70px 0 #0065FC;
  }
  
nav li
{
  width: 200px;
}

input[type="text"]
{
  border: #F2F2F2 solid 1px;
  padding-left: 10px;
  width: 280px;
}

input[type=submit]
{
  width: 160px;
}

#search
{
  display: none;
}

#tri
{
  justify-content: space-between;
  width: 992px;
  margin: 0;
}

#tri span
{
  padding-left: 25px;
  padding-right: 25px;
}

#tri span:hover
{
  background-color: #deebff;
}

.filtres
{
  width: auto;
  max-width: 250px;
}

#filters_t
{
  font-size: 22px;
  width: 100px;
}

}

/** Desktop - End**


/** Tablet & phone common **/
@media screen and (max-width:991px)
{

  
  #nav_top
  {
    flex-direction: column;
  }
  
  nav
  {
    width: 100%;
    margin-left: 0;
    margin-right: 0;
    margin-top: 20px;
  }

  nav ul
  {
    padding: 0px;
  }
  
  nav li:nth-child(1)
  {
    border-bottom: #0065FC solid;
  }

  nav li:nth-child(2)
  {
    border-bottom: #F2F2F2 solid;
    margin-right: 0px;
  }

  nav li
  {
    height: 35px;
    width: 50%;
  }

  #pcsearch
  {
    display: none;
  }

  input[type="text"]
{
  width: 70%;
  border-left: #F2F2F2 solid 1px;
  border-top: #F2F2F2 solid 1px;
  border-bottom: #F2F2F2 solid 1px;
  border-right: none;
  font-size: large;
  padding-left: 10px;
}

form
{
  position: relative;
  min-width: 375px;
  max-width: 500px;
}

input[type=submit]
{
  position: absolute;
  left: -18px;
  width: 50px;
  height: 50px;
  border-top-left-radius: 20px;
  border-bottom-left-radius: 20px;
  right: 50px;
}

#search
{
  position: relative;
}

#search i
{
  color: white;
  right: -14px;
  top: 15px;
  position: absolute;
  font-size: 15px;
}

#filters
{
  flex-direction: column;
}

#tri
{
  padding-left: 32px; /** Compense left -32px sur #tri i en alignant avec "Filtres" **/
}

#filters_t
{
  margin-top: 20px;
  margin-bottom: 0;
}

}

/** Tablet & Phone - End**

/** Tablet breakpoint **/
@media screen and (min-width:768px) and (max-width:991px)
{

#margins
{
  margin-left: 30px;
  margin-right: 30px
}

#tri span
{
  margin-left: 0;
  margin-top: 0;
  margin-bottom: 10px;
  padding-left: 30px;
  padding-right: 30px;
}

#eco, #family, #love
{
  margin-right: 43px;
}

#tri
{
  flex-wrap: wrap;
}

}
/** Tablet end **/

/** Phone breakpoint **/
@media screen and (max-width:767px)
{

  #margins
  {
    margin-left: 15px;
    margin-right: 15px
  }

  #tri span
{
  margin-left: 0;
  margin-top: 0;
  margin-bottom: 10px;
  padding-left: 19px;
  padding-right: 10px;
}

#eco, #family, #love
{
  margin-right: 43px;
}

#tri
{
  flex-wrap: wrap;
  min-width: 375px;
}

}

/** Common **/
/** Header **/

nav ul
{
  text-align: center;
}

nav li:nth-child(1)
{
  color: #0065FC;
}

a:link, a:visited, a:active
{
  text-decoration: none;
  color:inherit
}

#nav_top
{
  align-items: center;
  justify-content: space-between;
}

#nav_top img
{
  max-width: 120px;
}

form
{
  height: 50px;
}

label
{
  width: 60px;
  align-items: center;
  justify-content: center;
  background-color: #F2F2F2;
  border-top-left-radius: 20px;
  border-bottom-left-radius: 20px;
}

input[type=submit]
{
  color: white;
  background-color: #0065FC;
  border: none;
  border-top-right-radius: 20px;
  border-bottom-right-radius: 20px;
}

#tri
{
  align-items: center;
}

#tri i
{
  left: -32px;
  position:absolute;
  border-radius: 50%;
  background-color: #deebff;
  width: 50px;
  height: 50px;
  text-align: center;
  padding-top: 15px;
}

#tri li
{
  position: relative;
}

#tri span
{
  font-size: 20px;
  font-weight: bold;
  border-top-right-radius: 20px;
  border-bottom-right-radius: 20px;
  padding-top: 12px;
  padding-bottom: 12px;
  border-top: #F2F2F2 solid 2px;
  border-right: #F2F2F2 solid 2px;
  border-bottom: #F2F2F2 solid 2px;
}

#fa_circle
{
  top: 8px;
  position: relative;
  border: 1px solid grey;
  margin-right: 10px;
  display: inline-block;
  border-radius: 50%;
  width: 29px;
  height: 29px;
  padding: 5px;
  text-align: center;
}

#info_icon
{
  position: absolute;
  left: 11px;
  bottom: 6px;
}

/** Main **/

/** Utiliser la fonction ORDER pour réorganiser les hébergements entre la version PC et mobile.
Utiliser flex-wrap pour les faire tenir sur 2 lignes? **/

/** Footer **/
